@import "./reset";
@import "./layout";
@import "./colors.scss";

* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    line-height: 22px;
    color: $paragraph;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    margin-bottom: 8px;
}

h1,
h2,
h3 {
    color: $paragraph;
}